@model Model.EF.About
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
                @Html.Raw(Model.Detail)    
</div>


@*<div class="bl-title">
    <p>&nbsp;</p>
</div>
<div class="block-ct">
    <p style="text-align: center;"><strong>TRUNG TÂM THIẾT BỊ AN NINH M3</strong></p>
    <p style="text-align: center;"><strong>(C&Ocirc;NG TY CỔ PHẦN THƯƠNG MẠI&nbsp;V&Agrave; DỊCH VỤ&nbsp;M3 VIỆT NAM)</strong></p>
    <p style="text-align: center;">&nbsp;</p>
    <p>Được th&agrave;nh lập từ ng&agrave;y 27 th&aacute;ng 5 năm 2013, đến nay Trung t&acirc;m Thiết bị An ninh M3 đang l&agrave; một lựa chọn tin cậy cho hơn 120 căn hộ, biệt thự, khoảng 60 văn ph&ograve;ng, c&ocirc;ng ty v&agrave; nhiều nh&agrave; xưởng cũng như c&aacute;c trường mầm non tr&ecirc;n địa b&agrave;n H&agrave; Nội v&agrave; một số tỉnh l&acirc;n cận. M3 đ&atilde; mang đến sự an t&acirc;m, an to&agrave;n cho c&aacute;c gia đ&igrave;nh với c&aacute;c hệ thống camera, b&aacute;o động. Tăng năng suất lao động, tiết kiệm thời gian cho c&aacute;c nh&agrave; quản l&yacute; với hệ thống chấm c&ocirc;ng, kiểm so&aacute;t v&agrave;o ra v&agrave; hệ thống camera gi&aacute;m s&aacute;t.</p>
    <p style="text-align: center;">Website:&nbsp;<a href="http://m3.com.vn/">www.m3.com.vn</a></p>
    <p>Một trong những website tin cậy trong việc cung cấp, tư vấn v&agrave; lắp đặt c&aacute;c sản phẩm an ninh, an to&agrave;n, tự động như: CAMERA QUAN S&Aacute;T, B&Aacute;O ĐỘNG CHỐNG TRỘM, CHU&Ocirc;NG CỬA C&Oacute; H&Igrave;NH, CHẤM C&Ocirc;NG, ĐIỆN TH&Ocirc;NG MINH.</p>
    <p>&nbsp;</p>
    <p>Qua hơn 2 năm hoạt động với phương ch&acirc;m đem đến cho Qu&yacute; kh&aacute;ch những sản phẩm tốt, gi&aacute; cả ph&ugrave; hợp, dịch vụ bảo h&agrave;nh chu đ&aacute;o. Trung t&acirc;m Thiết bị An ninh M3 đ&atilde; nhận được rất nhiều sự tin tưởng của Kh&aacute;ch h&agrave;ng v&agrave; Đối t&aacute;c.</p>
    <p>&nbsp;</p>
    <p>X&acirc;y dựng được đội ngũ nh&acirc;n vi&ecirc;n Nhiệt t&igrave;nh, Chu đ&aacute;o v&agrave; Chuy&ecirc;n nghiệp,&nbsp;website&nbsp;m3.com.vn trở th&agrave;nh m&ocirc;̣t&nbsp;địa chỉ uy t&iacute;n cho kh&aacute;ch h&agrave;ng v&agrave; những người quan t&acirc;m đến lĩnh vực sản phẩm an ninh, an to&agrave;n v&agrave; tự động.</p>
    <p>&nbsp;</p>
    <p><span style="color: #000080;"><strong>C&aacute;c sản phẩm ch&iacute;nh:</strong></span></p>
    <p><span style="color: #000080;"><em>1. Hệ thống camera quan s&aacute;t tại chỗ v&agrave; từ xa qua mạng.</em></span></p>
    <p>- HIKVISION: Nh&agrave; sản xuất đầu ghi h&igrave;nh số 1 thế giới. Nh&agrave; sản xuất Camera quan s&aacute;t số 1 thế giới. Sản phẩm HIKVISION c&oacute; chất lượng cao, mẫu m&atilde; đẹp v&agrave; gi&aacute; cả cạnh tranh, ph&ugrave; hợp cho c&aacute;c dự &aacute;n vừa v&agrave; lớn. HIKVISION c&oacute; dải sản phẩm rất rộng, bao gồm h&agrave;ng trăm mẫu m&atilde; sản phẩm:&nbsp;Analog Camera -&nbsp;DVR,&nbsp;IP Camera -&nbsp;NVR,&nbsp;Mobile DVR, ATM DVR, Flatform.</p>
    <p>Thời gian bảo h&agrave;nh đầu ghi h&igrave;nh, camera: 24 th&aacute;ng. Miễn ph&iacute; phần mềm quản l&yacute; tới 1024 camera.</p>
    <p>&nbsp;</p>
    <p><span style="color: #000080;"><em>2. Hệ thống b&aacute;o động, b&aacute;o trộm tự động bằng c&ograve;i, đ&egrave;n hoặc cảnh b&aacute;o tự động qua điện thoại cố định, đi động, nhắn tin, email (Hệ thống hữu tuyến hoặc v&ocirc; tuyến). Phần mềm gi&aacute;m s&aacute;t nhiều trung t&acirc;m b&aacute;o động.</em></span></p>
    <p>+ Electronics Line 3000, Lightsys 2&nbsp;(ISRAEL): Nh&agrave; sản xuất b&aacute;o động kh&ocirc;ng d&acirc;y v&agrave; c&oacute; d&acirc;y h&agrave;ng đầu thế giới.</p>
    <p>+ AOLIN (China): Sản phẩm c&oacute; chất lượng rất ổn định, gi&aacute; cả hợp l&yacute;.</p>
    <p>+ HIKVISION (China): Tích hợp báo đ&ocirc;̣ng kèm giám sát hình ảnh.</p>
    <p>&nbsp;</p>
    <p><span style="color: #000080;"><em>3. Hệ thống chu&ocirc;ng cửa c&oacute; h&igrave;nh c&oacute; tiếng (video door phone), kh&oacute;a điện mở cửa tự động.</em></span></p>
    <p>+ Competition (Taiwan): sản phẩm chất lượng tốt, mẫu m&atilde; phong ph&uacute;, gi&aacute; cả cạnh tranh.</p>
    <p>+ Hyundai (Korea): Thương hiệu h&agrave;ng đầu H&agrave;n Quốc.</p>
    <p>&nbsp;</p>
    <p><span style="color: #003366;"><em>4. Hệ thống b&aacute;o ch&aacute;y v&agrave; chữa ch&aacute;y tự động.</em></span></p>
    <p>+ Yun-Yang (Đ&agrave;i loan), sản phẩm chất lượng cao, gi&aacute; cả cạnh tranh, c&oacute; cả b&aacute;o ch&aacute;y Analog v&agrave; b&aacute;o ch&aacute;y địa chỉ.</p>
    <p>&nbsp;</p>
    <p><span style="color: #000080;"><em>5. Hệ thống kiểm so&aacute;t v&agrave;o ra, chấm c&ocirc;ng bằng thẻ từ, thẻ giấy, bằng m&atilde; số, nhận dạng bằng v&acirc;n tay.</em></span></p>
    <p>+ Nh&agrave; ph&acirc;n phối tại Việt Nam hệ thống nh&acirc;̣n dạng v&acirc;n tay, thẻ th&ocirc;ng minh:&nbsp;Suprema (Korea), Soyal (Đ&agrave;i Loan).</p>
    <p>-----------------------------------------------------------</p>
    <p><strong>TRUNG T&Acirc;M THIẾT BỊ AN NINH M3</strong><br /><strong>C&Ocirc;NG TY CP&nbsp;TM V&Agrave; DV&nbsp;M3 VIỆT NAM</strong><br /><strong>Add</strong>: Vĩnh Trung&nbsp;- Đại &Aacute;ng - Thanh Tr&igrave; - HN<br /><strong>Office</strong>: KĐT Việt Hưng&nbsp;-&nbsp;Long Bi&ecirc;n - HN<br /><strong>MST:&nbsp;</strong>0108166748&nbsp; -&nbsp;<strong>Tel</strong>: 0243.647.53.62<br /><strong>Email</strong>:&nbsp;info@m3.com.vn<br /><strong>Website</strong>:&nbsp;www.m3.com.vn<br /><strong>Hotline</strong>: 0243.647.53.62</p>
</div>*@